<div class="col-xs-5">
    <div class="panel-body" id="report_id">
        <div class="row m-t-10">
            <h5 class="col-xs-12 ">Employee</h5>
            <div class="col-md-5 col-xs-12 ">
                <!--<ss-multiselect-dropdown (onLazyLoad)="onSearch($event, 'approvalReviewNames')" [settings]="mySettings" [name]="'userName'" [masterData]="configEmpData?.details" [options]="trApproversList" [texts]="myTexts" [(ngModel)]="trApproversListModel" (ngModelChange)="getTimeReport('approvalReviewNames')"></ss-multiselect-dropdown>-->

                 <ng-select [allowClear]="true"
                    [active]="empModel"
                    [items]="allEmployees?.details"
                    (selected)="selected($event)"
                    (removed)="removed($event)"
                    [textField]="'userName'"
                    [idField]="'userId'"
                    placeholder="Select">
                </ng-select> 


            </div>
            <div class="col-md-7 col-xs-12">
                <!--<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2 " align="right" style="padding-right: 0px;">
                    <button class="paginate_button btn btn-default" id="right_dash" style="" type="button" (click)="getTimeReport('approvalReviewNames')"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                </div>-->
                <div class=" zeropad">
                    <div class="div_names">
                        <div *ngFor="let reviwer of selectedEmp; let i = index;">
                              <a (click)="removeSlUsers(i,selectedEmp,'emp')"><i class="fa fa-close" aria-hidden="true"></i></a>
                            {{ reviwer.userName }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-t-10">
            <h5 class="col-xs-12 ">Roles</h5>
            <div class="col-md-5 col-xs-12 ">
                <ss-multiselect-dropdown (onLazyLoad)="onSearch($event)" [settings]="mySettings" [name]="'roleName'" [masterData]="allRolesData?.details" [options]="allRolesDataOptions" [texts]="myTexts" [(ngModel)]="reoleModel"
                (ngModelChange)="onSelectRole($event)"></ss-multiselect-dropdown>
            </div>
            <div class="col-md-7 col-xs-12">
                <!--<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2 " align="right" style="padding-right: 0px;">
                    <button class="paginate_button btn btn-default" id="right_dash" type="button" (click)="getTimeReport('timereportReviewNames')"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                </div>-->
                <div class=" zeropad">
                    <div class="div_names">
                        <div *ngFor="let reviwer of reoleModel; let i = index;">
                            <a (click)="removeSlUsers(i,reoleModel,null)"><i class="fa fa-close" aria-hidden="true"></i></a>
                            {{ reviwer.roleName }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-labeled btn-success" [disabled]="reoleModel.length==0 || selectedEmp.length==0" (click)="saveMapRole()">
            <span class="btn-label">
                <i class="fa fa-check"></i>
            </span>Submit
        </button>
    </div>
</div>


<confirm
    title="{{confirmPopupData.title}}" 
    message="{{confirmPopupData.message}}" 
    confirmText="{{confirmPopupData.confirmText}}" 
    cancelText="{{confirmPopupData.cancelText}}"
    type="{{confirmPopupData.type}}"
    isCheckBox="{{confirmPopupData.isCheckBox}}"
    disclaimerText="{{confirmPopupData.disclaimerText}}">
</confirm>