<div class="modal-header">
  <h4 class="modal-title pull-left">Record History</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="panel-body">
    <div style="max-height: 400px; overflow: hidden; overflow-y: auto">
        <table class="table table-bordered table-inverse table-time" style="margin:0" id="tableGrid1">
          <thead>
              <tr style="color:white; background: #005c97;">
                  <th>Period</th>
                  <th>Status</th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let h of historyData?.details">
                <td>{{h.time_period_name}}</td>
                <td>{{h.tstatus}}</td>
              </tr>
            </tbody>
      </table>
    </div>
  </div>
</div>
<!-- <div [ngBusy]="busy"></div> -->
